// Advertisement
.advertisement {

	.header {
		padding: 0 1rem;

		@include media-breakpoint-up(md) {
			padding: 0 1.5625rem;
		}

		h2 {
			font-size: 0.75rem;
			color: $supportColor;
			margin-bottom: 0.75rem;
			@include sans-serif;
		}
	}
}