// Variables

// Colors
$baseColor: #262626;
$primaryColor: #1b85bc;
$primaryDarkColor: #15658f;
$secondaryColor: #e74e0f;
$backgroundColor: #fafafa;
$supportColor: #8c8b8f;
$lineColor: #dcdce0;
$primaryCardColor: #f5f5f5;
$secondaryCardColor: #f5f5f5;